/* line 64, group/*.png */
.group-sprite, .group-twitter {
  background-image: url('../images/group-seb050fe32b.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.group-twitter {
  background-position: -28px -22px;
}
/* line 59, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.group-twitter:hover, .group-twitter.twitter-hover {
  background-position: -60px 0;
}

/* line 8, ../sass/style.scss */
.box {
  height: 30px;
  width: 30px;
}
